
.index-nav-container {
    z-index: 21;
    width: 100%;
    height: 70px;
    position: fixed;
    text-align: center;
    background-color: rgba(14, 45, 18, 1);

    transition: all ease .5s;
}

.index-nav-container-jumbo {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 2px solid white;
    bottom: 0px;
    transition: all ease .5s;
    
}


.index-nav-container-logo-container {
    display: block;
    height: 70px;
    width: 75%;
    margin: auto;
    text-align: center;
    transition: all ease .5s;

}

.index-nav-logo {
    display: inline-block;
    background-image: url();
    width: 100px;
    height: 100px;
    background-size: cover;
    float: left;
    transition: all ease .5s;

}

.index-navigation-bar-container {
    font-size: 22px;
    color: lightgray;
    margin-top: 15px;
    text-align: center;
    float: right;
}

.index-navigation-choice {
    color: white;   
    cursor: pointer;
    padding: 5px 0px;
    width: 100px;
    display: inline-block;
    transition: all ease .5s;
}

.index-navigation-choice-mobile {
    position: relative;
    top: 20px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    padding: 5px 0px;
    width: 50px;
    display: inline-block;
    transition: all ease .5s;
    font-size: 50px;
    float: left;
    display: none;
}


.index-navigation-choice:hover {
    color: white;
}

.index-nav-mobile-choice-container {
    width: 100%;
    position: relative;
    top: 30px;
    background-color: rgba(80,80,80,1);
    max-height: 0px;
    overflow: hidden;
    transition: all linear .5s;
}

.index-nav-mobile-choice {
    padding: 15px 0px;
    color: initial;
    font-size: 50px;
    background-color: white;
    cursor: pointer;
}



@media(max-width: 1000px){
    


.index-nav-container {

    height: 100px;

}

.index-nav-container-jumbo {

    height: 100px;

}


.index-nav-container-logo-container {
    display: block;
    height: 68px;
    width: 75%;
    margin: auto;
    text-align: center;
}


    .index-navigation-bar-container {
    display: none;
}

    .index-nav-logo {
    width: 68px;
    height: 68px;
    float: right;

}

    .index-navigation-choice-mobile {
   display: inline-block;
}


    .index-nav-mobile-choice-container {
    display: block;
}

}