<div class="portfolio-tile" style="background-image: url({{backgroundImage}})" ng-click="showModal()">
    <div class="portfolio-tile-overlay" ng-scope-element="tileOverlay">
        <div class="portfolio-tile-logo" style="background-image: url({{logo}})">

        </div>
        <div class="portfolio-tile-text">
            {{text}}
            <div class="portfolio-tile-button">
                Watch Here
            </div>
        </div>
    </div>
</div>
<div class="portfolio-tile-modal-catcher" ng-scope-element="modalContainer" ng-click="hideModal()">
    
</div>
