@font-face {
    font-family: 'Gotham';
    src: url('/Content/Fonts/gotham-medium1-webfont.eot');
    src: url('/Content/Fonts/gotham-medium1-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/gotham-medium1-webfont.woff2') format('woff2'), url('/Content/Fonts/gotham-medium1-webfont.woff') format('woff'), url('/Content/Fonts/gotham-medium1-webfont.ttf') format('truetype'), url('/Content/Fonts/gotham-medium1-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham_light';
    src: url('/Content/Fonts/gotham-light1-webfont.eot');
    src: url('/Content/Fonts/gotham-light1-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/gotham-light1-webfont.woff2') format('woff2'), url('/Content/Fonts/gotham-light1-webfont.woff') format('woff'), url('/Content/Fonts/gotham-light1-webfont.ttf') format('truetype'), url('/Content/Fonts/gotham-light1-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.overlay-mask {
    background-color: rgba(0,0,0,.5);
}

.about-section .overlay-mask {
    position: absolute;
    background-color: rgba(0,0,0,.35);

    width: 100%;
    height: 100%;
}

.page-container {
    padding-top: 70px;
}


body {
    font-family: Gotham;
    overflow-x: hidden;
    min-width: 500px;
}






.home-top-banner-jumbo {
    height: 100%;
    background-image: url(/Content/Images/ff_home_overlay1.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    min-height: 700px;
}



.home-top-banner-jumbo-video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.home-top-banner-jumbo-text-container {
    text-align: right;
    height: 100%;
}

.home-top-banner-jumbo-logo {
    font-size: 15px;
    display: inline-block;
    margin: 50px;
    width: 400px;
    height: 150px;
}

.home-top-banner-jumbo-text {
    white-space: pre-line;
    text-align: center;
    margin: 0px auto;
    margin-top: 0px;
    width: 50%;
    font-size: 30px;
    text-align: center;
}

.home-top-banner-jumbo-button {
    width: 300px;
    margin: auto;
}

.home-top-banner-wrapper {
    position: relative;
    color: white;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroundsize: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}



.home-top-banner-full-container {
    z-index: 2;
}


.about-section {
    overflow: hidden;
    background-image: url(/Content/Images/SplashArt/About_Splash.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroundsize: cover;
    color: #ede2de;
    position: relative;
    height: 850px;
}

    .about-section .body-container {
        font-family: Gotham_light;
        position: absolute;
        bottom: 0px;
    }

.latest-work-section {
    background-color: rgb(240,240,240);
    color: initial;
    overflow: hidden;
}

.client-section {
    overflow: hidden;
    background-color: rgb(240,240,240);
}

    .client-section .client-logo {
        width: 100%;
        height: 100px;
        margin: 15px 0px;
        text-align: center;
    }

        .client-section .client-logo img {
            height: 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: all ease .5s;
            opacity: .5;
        }

            .client-section .client-logo img:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }

.break-section {
    background-image: url(/Content/Images/random_section_overlay2.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroundsize: cover;
    color: white;
    overflow: hidden;
}

    .break-section .body {
        margin-top: 60px;
        font-size: 45px;
    }

    .break-section .button-container {
        font-size: 30px;
        border: 1px solid white;
        cursor: pointer;
        position: relative;
        left: 200px;
        width: 240px;
        margin: 30px auto;
        text-align: center;
        transition: all ease .2s;
    }


.body-container {
    margin: 50px 0px;
    width: 100%;
    overflow: hidden;
}





.body {
    max-width: 1400px;
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
}

.title-section {
    font-family: Gotham_light;
    padding: 0px 50px;
    font-size: 40px;
    display: inline-block;
    text-align: left;
    float: left;
    width: 30%;
    transition: all ease .5s;
}


.section:hover .title-section {
    padding-left: 70px;
}

.title-section-right {
    font-family: Gotham_light;

    padding: 0px 50px;
    font-size: 40px;
    display: inline-block;
    text-align: right;
    float: right;
    width: 30%;
    transition: all ease .5s;
}


.section:hover .title-section-right {
    padding-right: 70px;
}


.content-section {
    display: inline-block;
    float: left;
    width: 70%;
    border-left: 1px solid;
}




.content-section-padding {
    display: inline-block;
    float: left;
    width: 70%;
    padding: 0px 30px;
    border-left: 1px solid;
}


.content-section-right {
    display: inline-block;
    float: right;
    width: 70%;
    border-right: 1px solid;
}




.content-section-padding-right {
    display: inline-block;
    float: right;
    width: 70%;
    padding: 0px 30px;
    border-right: 1px solid;
}





.column2 {
    text-indent: 20px;
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    width: 50%;
    display: inline-block;
    float: left;
}

.column2-no-padding {
    text-align: left;
    padding: 0px;
    width: 50%;
    display: inline-block;
    float: left;
}

.column2-right {
    text-indent: 20px;
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    width: 50%;
    display: inline-block;
    float: right;
}

.column2-no-padding-right {
    text-align: left;
    padding: 0px;
    width: 50%;
    display: inline-block;
    float: right;
}

.column3 {
    padding: 0px 30px;
    font-size: 18px;
    width: 33%;
    display: inline-block;
    float: left;
}

.column3-no-padding {
    padding: 0px;
    width: 33%;
    display: inline-block;
    float: left;
}










@media(max-width: 1000px) {


    .home-top-banner-wrapper {
        background-image: url(/Content/Images/audi_cover1.jpg);
        background-size: 100% cover;
        -webkit-background-size: 100% cover;
        -moz-background-size: 100% cover;
        -o-backgroundsize: 100% cover;
    }

    .home-top-banner-jumbo-video-background {
        display: none;
    }



    .break-section .button-container {
        font-size: 30px;
        cursor: pointer;
        position: relative;
        left: 0px;
        width: 240px;
    }


    .body {
        text-align: center;
        width: 90%;
    }

    .title-section,
    .title-section-right {
        display: block;
        font-size: 40px;
        border-bottom: 1px solid;
        text-align: center;
        margin: 30px 0px;
        width: 100%;
    }


    .content-section,
    .content-section-right {
        display: block;
        float: none;
        width: 100%;
        border: 0px solid;
        transition: all ease .5s;
    }




    .content-section-padding,
    .content-section-padding-right {
        display: block;
        float: none;
        width: 100%;
        padding: 0px;
        border: 0px solid;
        transition: all ease .5s;
    }



    .column2 {
        padding: 0px;
        font-size: 18px;
        width: 100%;
        display: block;
        float: none;
        transition: all ease .5s;
    }

    .column2-no-padding {
        padding: 0px;
        width: 100%;
        display: block;
        float: none;
        transition: all ease .5s;
    }

    .column2-right {
        padding: 0px;
        font-size: 18px;
        width: 100%;
        display: block;
        float: none;
        transition: all ease .5s;
    }

    .column2-no-padding-right {
        padding: 0px;
        width: 100%;
        display: block;
        float: none;
        transition: all ease .5s;
    }

    .column3 {
        padding: 0px;
        font-size: 18px;
        width: 33%;
        display: inline-block;
        float: left;
    }

    .column3-no-padding {
        padding: 0px;
        width: 33%;
        display: inline-block;
        float: left;
    }
}
