.video-section {
    color: white;
    overflow: hidden;
    background-color: dimgrey;
}

.video-section .portfolio-tile {
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid;
}

.video-section .body-container {
    border-bottom: 2px solid;
    margin: 0px;
}

.video-section .body {
    border-bottom: 10px solid;
}

.video-section .video-title {
  margin-top: 25%;
  text-align: center;
}

.video-section .video-subtitle {
    text-align:center;

}

@media(max-width: 1000px){
    .video-section .video-title {
        padding: 20px 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        border-bottom: 2px solid;
    }
}