.video-section-background {
    background-color: white;
}

.video-section-header {
    font-size: 40px;
    width: 80%;
    margin: 15px auto;
}

.video-section {

    color: white;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
}

.video-section .portfolio-tile {
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid;
}

.video-section .body-container {

    border-bottom: 2px solid;
    margin: 0px;
}

.video-second-section .body-container {


    border-bottom: 0px solid;
}

.video-section .body {

    border-bottom: 10px solid;
    
}

.video-section .video-title {
  margin-top: 25%;
  text-align: center;

}

.video-section .video-subtitle {
        font-family: Gotham_light;

    font-size: 15px;
    text-align:center;

}

@media(max-width: 1000px){
    .page-container {
        padding-top: 100px;
    }

    .video-section .video-title {
        padding: 20px 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        border-bottom: 2px solid;
    }
}

@media(min-width: 1500px) {
    .video-section .body-container {
        background-size: 1500px;
        background-position: center;
        background-repeat: repeat-x;

    }



}