
@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
      
  src: 
       url('Fonts/Gotham-Medium(1).ttf')  format('truetype'), /* Safari, Android, iOS */
}

.overlay-mask {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
}


body {
    font-family: Gotham;
    overflow-x: hidden;
    min-width: 500px;
}






.home-top-banner-jumbo {
    height: 100%;
    background-image: url(/Content/Images/ff_home_overlay1.png);
    background-size: cover;
    position: relative;
    min-height: 700px;
}



.home-top-banner-jumbo-video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


.home-top-banner-jumbo-text-container {
    text-align: right;
    height: 100%;
}

.home-top-banner-jumbo-logo {
    display: inline-block;
    margin: 50px;
    width: 400px;
    height: 150px;
    background-color: black;
}

.home-top-banner-jumbo-text {
    white-space: pre;
    text-align: center;
    margin: 0px auto;

    margin-top: 130px;
    width: 50%;
    font-size: 30px;
    text-align: center;
}

.home-top-banner-jumbo-button {
    width: 500px;
    margin: auto;
}

.home-top-banner-wrapper {
    position: relative;
   
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}



.home-top-banner-full-container {
    z-index: 2;
}


.about-section {
    overflow: hidden;
    background-image: url(/Content/Images/About_bg_image1.jpg);
    background-size: cover;
    color: #ede2de;
    position: relative;
    height: 1000px;
}

    .about-section .body-container {
        position: absolute;
        bottom: 0px;
    }

.latest-work-section {
    background-color: rgba(67, 58, 51,.95);
    overflow: hidden;
    color: white;
}

.client-section {
    overflow: hidden;
    background-color: rgba(200,200,200,1);
}

    .client-section .client-logo {
        width: 100%;
        height: 150px;
        margin: 15px 0px;
        text-align: center;
    }

        .client-section .client-logo img {
            height: 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            transition: all ease .5s;
            opacity: .5;
        }

            .client-section .client-logo img:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }

.body-container {
    margin: 50px 0px;
    width: 100%;
    overflow: hidden;
}



.body {
    max-width: 1500px;
    width: 100%;
    display: block;
    margin: auto;
    overflow: hidden;
}

.title-section {
    padding: 0px 50px;
    font-size: 40px;
    display: inline-block;
    text-align: left;
    float: left;
    width: 30%;
    transition: all ease .5s;
}


.section:hover .title-section {
    padding-left: 70px;
}



.content-section {
    display: inline-block;
    float: left;
    width: 70%;
    border-left: 1px solid;

}




.content-section-padding {
    display: inline-block;
    float: left;
    width: 70%;
    padding: 0px 30px;
    border-left: 1px solid;

}



.column2 {
    text-indent: 20px;
    text-align: left;
    padding: 0px 30px;
    font-size: 18px;
    width: 50%;
    display: inline-block;
    float: left;
}

.column2-no-padding {
    text-align: left;
    padding: 0px;
    width: 50%;
    display: inline-block;
    float: left;

}

.column3 {
    padding: 0px 30px;
    font-size: 18px;
    width: 33%;
    display: inline-block;
    float: left;
}

.column3-no-padding {
    padding: 0px;
    width: 33%;
    display: inline-block;
    float: left;
}









@media(max-width: 1000px) {


    .home-top-banner-wrapper {
        background-image: url(/Content/Images/audi_cover1.jpg);
        background-size: 100% cover;
    }

    .home-top-banner-jumbo-video-background {
        display: none;
    }

    .latest-work-section {
        background-color: #433A33;
}

    .body {
        text-align: center;
        width: 90%;
    }

    .title-section {
        display: block;
        font-size: 40px;
        border-bottom: 1px solid;
        text-align: center;
        margin: 30px 0px;
        width: 100%;
    }


    .content-section {
        display: block;
        float: none;
        width: 100%;
        border-left: 0px solid;
    transition: all ease .5s;

    }




    .content-section-padding {
        display: block;
        float: none;
        width: 100%;
        padding: 0px;
        border-left: 0px solid;
    transition: all ease .5s;

    }



    .column2 {
        padding: 0px;
        font-size: 18px;
        width: 100%;
        display: block;

        float: none;
    transition: all ease .5s;

    }

    .column2-no-padding {
        padding: 0px;
        width: 100%;
        display: block;
        float: none;
    transition: all ease .5s;

    }

    .column3 {
        padding: 0px;
        font-size: 18px;
        width: 33%;
        display: inline-block;
        float: left;
    }

    .column3-no-padding {
        padding: 0px;
        width: 33%;
        display: inline-block;
        float: left;
    }
}


