
@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url(/Content/Fonts/ufonts.com_gotham-book.ttf); /*URL to font*/
}

.overlay-mask {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
}


body {
    font-family: Gotham;
    overflow-x: hidden;
}

.view-animate {
    width: 100%;
}



.index-nav-container {
    z-index: 21;
    width: 100%;
    height: 100px;
    position: fixed;
    text-align: center;
    background-color: rgba(67, 73, 83, 1);
    border-bottom: 2px solid brown;

}

.index-nav-container-jumbo {
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: 5px solid white;
    bottom: 0px;
}


.index-nav-container-logo-container {
    display: block;
    height: 100px;
    width: 75%;
    margin: auto;
    text-align: center;
}

.index-nav-logo {
    display: inline-block;
    background-image: url(/Content/Images/Logo.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    float: left;
}
.home-top-banner-jumbo {
    height: 100%;
    background-image: url(/Content/Images/ff_home_overlay1.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 700px;
}



.home-top-banner-jumbo-video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
    
}


.home-top-banner-jumbo-text-container {
    text-align:right;
    height: 100%;
}

.home-top-banner-jumbo-logo {
    display: inline-block;
    margin: 50px;
    width: 400px;
    height: 150px;
    background-color: black;
}

.home-top-banner-jumbo-text {
    white-space: pre;
    text-align: center;
    margin: 130px 0px;
    width: 90%;
    font-size: 30px;
    text-align: center;
}

.home-top-banner-wrapper {
    position: relative;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    overflow: hidden;
}



.home-top-banner-full-container {
    z-index: 2;
}

.home-top-banner-carousel {
    margin-top: 140px;
    font-size: 50px;
    color: white;
}

.home-top-banner-social-bar-container {
    display: inline-block;
    width: 700px;
}

.home-social-bar-line {
    display: inline-block;
    height: 2px;
    background-color: red;
    width: 200px;
    margin-bottom: 10px;
}

.home-social-bar-button {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;
}

    .home-social-bar-button:hover {
        color: rgba(0,0,0,1);
        background-color: white;
    }

.home-social-bar-button-logo {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.home-top-banner-down-button-container {
    margin-top: 30px;
    font-size: 100px;
}

.home-top-banner-down-button {
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    transition: all ease .5s;
}

    .home-top-banner-down-button:hover {
        color: red;
    }

.home-top-banner-column-container {
    display: inline-block;
    width: 90%;
    margin-top: 40px;
}

.home-top-banner-column {
    display: inline-block;
    width: 30%;
    margin: 10px;
    vertical-align: top;
}

.home-top-banner-column-icon {
    font-size: 30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: red;
    color: black;
    border-radius: 50px;
    text-align: center;
}

    .home-top-banner-column-icon i {
        margin-top: 13px;
    }

.home-top-banner-column-header {
    font-size: 20px;
    color: red;
    margin: 15px 0px;
}

.home-top-banner-column-text {
    display: block;
    max-width: 400px;
    margin: auto;
}

.home-top-banner-column-link {
    margin: auto;
    display: block;
    color: red;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

    .home-top-banner-column-link:hover {
        color: red;
    }

.home-middle-banner-wrapper {
    color: rgba(255,255,255,1);
    background-image: url(http://eclair16.com/files/2009/06/acl_decked.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}

.home-middle-banner-button {
    display: block;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    margin: 30px auto;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid red;
}

    .home-middle-banner-button:hover {
        text-decoration: none;
        color: white;
    }

.home-middle-banner-button-text {
    margin-top: 5px;
}

.home-middle-banner-header {
    margin-top: 20px;
    font-size: 50px;
}

.home-middle-banner-logo {
    display: block;
    margin: auto;
    background-image: url('https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 200px;
    height: 150px;
}

.home-middle-break-section {
    padding: 70px 0px;
    margin: auto ;
    background-color: white;
    z-index: 50;
    overflow: hidden;
}

.home-about-section {
    overflow: hidden;
   font-size: 20px;
   padding-top: 500px;
   padding-bottom: 100px;
   background-image: url(/Content/Images/About_bg_image1.jpg);
   background-size: cover;
}

.home-about-section-text-column {
    width:  30%;
    padding: 0px 40px;
    float: left;
    display: inline-block;

}

.home-about-section-header {
    padding: 0px;
    font-size: 40px;
    text-align:right;
}

.home-client-section-container {
    background-color: white;
    overflow: hidden;
    padding: 70px 0px;
}



.home-client-section-title {
    display: inline-block;
    float: left;
    font-size: 40px;
    width: 30%;
    text-align: right;
}

.home-client-section-logo-container {
    display: inline-block;
    float: left;
    width: 70%;
}

.home-client-logos {
    display: block;
    margin: auto;
    width: 80%;
    text-align: right;
}

.home-client-logo {
    background-color: black;
    width: 30%;
    float:left;
    display: inline-block;
    padding: 6% 0px;
    margin: 1%;
}


.home-end-container {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.home-end-team-container {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

    .home-end-team-container .first {
        float: left;
    }

    .home-end-team-container .second {
        float: right;
    }

.home-end-team-header {
    padding: 25px 0px;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    background: red;
    color: white;
}

.home-end-teammate-container {
    width: 450px;
    margin: 50px auto;
    overflow: hidden;
}

.home-end-teammate-image {
    margin: 40px auto;
    width: 300px;
    height: 300px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 150px;
    border: 2px solid orange;
}

.home-end-teammate-name {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin: 30px auto;
}

.home-end-teammate-text {
    font-size: 20px;
    width: 400px;
    margin: 40px auto;
    text-align: center;
    color: white;
}

.home-contact-container {
    height: 400px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 100%);
    color: white;
    z-index: -1;
}

.home-contact-map {
    width: 300px;
    height: 300px;
}

.home-contact-container .second {
    right: 0px;
    bottom: 0px;
}

.home-contact-both-container {
    width: 50%;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 50px;
}

.home-contact-name-number {
    font-size: 20px;
    margin: 40px 0px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.home-contact-info-container {
    width: 300px;
    margin: auto;
}

@media(max-width: 1200px) {
    .home-end-team-container .first {
        float: none;
    }

    .home-end-team-container .second {
        float: none;
    }
}

@media(max-width:1000px) {
    .home-top-banner-column {
        display: block;
        margin: auto;
        width: 80%;
        margin-bottom: 30px;
    }

    .home-end-container {
        background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-attachment: initial;
    }

    .home-top-banner-wrapper {
        background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-attachment: initial;
    }

    .home-middle-banner-wrapper {
        background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-attachment: initial;
    }

    .home-top-banner-column-text {
        display: block;
        font-size: 25px;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
}


