

<div class="index-nav-container-logo-container">
    <div class="index-nav-logo">

    </div>
    <div class="index-navigation-bar-container">

        <div class="index-navigation-choice" ng-scope-element="zero" ng-click="updateCurrentPage('/')">
            HOME
        </div>
        <div class="index-navigation-choice" ng-scope-element="one" ng-click="updateCurrentPage('/videos')">
            VIDEOS
        </div>
        <div class="index-navigation-choice" ng-scope-element="two" ng-click="updateCurrentPage('/about')">
            ABOUT
        </div>
        <div class="index-navigation-choice" ng-scope-element="three" ng-click="scrollToBottom()">
            CONTACT
        </div>
        
    </div>
    
</div>



