<div class="index-navigation-bar-container">

    <div class="index-navigation-choice" ng-scope-element="zero"  ng-click="updateCurrentPage('/')">
        HOME
        <div class="index-navigation-underline-bar" ></div>
    </div>
    <div class="index-navigation-choice" ng-scope-element="one"ng-click="updateCurrentPage('/videos')">
        VIDEOS
        <div class="index-navigation-underline-bar" ></div>
    </div>
    <div class="index-navigation-choice" ng-scope-element="two"  ng-click="updateCurrentPage('/about')">
        ABOUT
        <div class="index-navigation-underline-bar" ></div>
    </div>
    <div class="index-navigation-choice" ng-scope-element="three"  ng-click="updateCurrentPage('/contact')">
        CONTACT
        <div class="index-navigation-underline-bar" ></div>

    </div>
</div>
