<div class="home-end-container"style="background-image: url(/Content/Images/teamPicture.jpg)">
    <div class="about-top-banner-header">
        About Us
    </div>
    <div class="overlay-mask">
        <div class="home-end-team-container">
            <div class="home-end-teammate-container first">
                <div class="home-end-teammate-name">
                    SOMETHING SERIOUS
                </div>
                <div class="home-end-teammate-text">
                    I AM THE BEST. I ONLY PLAY IF I CAN WIN. GAME NIGHT EVERY NIGHT. MY FAVORITE MOVIE IS INTERSTELLAR. MURPH, OH GOD MURPH. SPIKE JONES, ENOUGH SAID.
                </div>
            </div>
            <div class="home-end-teammate-container second">
                <div class="home-end-teammate-name">
                    SOMETHING SERIOUS
                </div>
                <div class="home-end-teammate-text">
                    I AM THE BEST. I ONLY PLAY IF I CAN WIN. GAME NIGHT EVERY NIGHT. MY FAVORITE MOVIE IS INTERSTELLAR. MURPH, OH GOD MURPH. SPIKE JONES, ENOUGH SAID.
                </div>
            </div>
            <div class="home-end-teammate-container first">
                <div class="home-end-teammate-name">
                    SOMETHING SERIOUS
                </div>
                <div class="home-end-teammate-text">
                    I AM THE BEST. I ONLY PLAY IF I CAN WIN. GAME NIGHT EVERY NIGHT. MY FAVORITE MOVIE IS INTERSTELLAR. MURPH, OH GOD MURPH. SPIKE JONES, ENOUGH SAID.
                </div>
            </div>
            <div class="home-end-teammate-container second">
                <div class="home-end-teammate-name">
                    SOMETHING SERIOUS
                </div>
                <div class="home-end-teammate-text">
                    I AM THE BEST. I ONLY PLAY IF I CAN WIN. GAME NIGHT EVERY NIGHT. MY FAVORITE MOVIE IS INTERSTELLAR. MURPH, OH GOD MURPH. SPIKE JONES, ENOUGH SAID.
                </div>
            </div>
        </div>

    </div>
</div>