<nav class="index-nav-container">

    <navigation-bar-routing></navigation-bar-routing>
</nav>
<div class="home-top-banner-wrapper">
    <video-background></video-background>
    <div class="home-top-banner-jumbo">
        <div class="home-top-banner-jumbo-text-container">
            <div class="home-top-banner-jumbo-logo">
            </div>
            <div class="home-top-banner-jumbo-text">
                <banner-button video-link="//player.vimeo.com/video/75255729?api=1&player_id=vimeoplayer"></banner-button>
            </div>
        </div>
        <nav class="index-nav-container-jumbo">

            <navigation-bar-routing></navigation-bar-routing>
        </nav>

    </div>
</div>
<div class="latest-work-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                LATEST WORK
            </div>

            <div class="content-section-padding">

                <div class="column2-no-padding">
                    <portfolio-tile fade-in-color="rgba(170,65,57,.9)" text="Moving Around" background-image="/Content/Images/coffeewine_thumb.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/150519302"></portfolio-tile>
                    <portfolio-tile fade-in-color="rgba(36,96,104,.9)" text="This is hot" background-image="/Content/Images/downbytheocean.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/107768954"></portfolio-tile>
                </div>
                <div class="column2-no-padding">
                    <portfolio-tile fade-in-color="rgba(43,130,58,.9)" text="Bringing the heat" background-image="/Content/Images/DunlopTennis.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/143957655"></portfolio-tile>
                    <portfolio-tile fade-in-color="rgba(170,111,57,.9)" text="Wowza" background-image="/Content/Images/makeUp.png" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/150635087"></portfolio-tile>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                ABOUT
            </div>

            <div class="content-section">
                <div class="column2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="column2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="client-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                CLIENTS
            </div>
            <div class="content-section">
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />

                    </div>
                </div>
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                </div>
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logo.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                CONTACT
            </div>
            <div class="content-section-padding">
                <div class="column2-no-padding">
                    <div class="contact-information-container">
                        <div class="contact-title">
                            Contact Information
                        </div>
                        <div class="contact-content">
                            asdf@gmail.com
                        </div>
                        <div class="contact-content">
                            (456)654-1548
                        </div>
                        <div class="contact-title">
                            Locations
                        </div>
                        <div class="contact-content">
                            Miami, FL
                        </div>
                        <div class="contact-content">
                            Fort Lauderdale, FL
                        </div>
                        <div class="contact-title">
                            Locations
                        </div>
                        <div class="contact-content">
                            Miami, FL
                        </div>
                        <div class="contact-content">
                            Fort Lauderdale, FL
                        </div>
                        <div class="contact-title">
                            Social
                        </div>
                        <div class="contact-social-content">
                            Facebook
                        </div>
                        <div class="contact-social-content">
                            Twitter
                        </div>
                        <div class="contact-social-content">
                            Instagram
                        </div>
                        <div class="contact-social-content">
                            Vimeo
                        </div>

                    </div>
                </div>
                <div class="column2-no-padding">
                    <form class="contact-form-container">
                        <div class="contact-form-title">
                            CONTACT US
                        </div>
                        <input class="contact-form-input" placeholder="First Name" type="text"/>
                        <input class="contact-form-input" placeholder="Last Name" type="text" />
                        <input class="contact-form-input" placeholder="Phone #" type="text" />
                        <input class="contact-form-input" placeholder="Budget" type="text" />
                        <textarea class="contact-form-input contact-form-text-area" placeholder="Message" />
                        <input class="contact-form-input" placeholder="Budget" type="text" />
                        <input class="contact-form-input" placeholder="Budget" type="text" />


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

