<nav class="index-nav-container">

    <navigation-bar-routing></navigation-bar-routing>
</nav>
<div class="home-top-banner-wrapper">
    <video-background></video-background>
    <div class="home-top-banner-jumbo">
        <div class="home-top-banner-jumbo-text-container">
            <div class="home-top-banner-jumbo-logo">
            </div>
            <div class="home-top-banner-jumbo-text">
                <banner-button video-link="//player.vimeo.com/video/151679911?api=1&player_id=vimeoplayer"></banner-button>
            </div>
        </div>
        <nav class="index-nav-container-jumbo">

            <navigation-bar-routing></navigation-bar-routing>
        </nav>

    </div>
</div>
<div class="latest-work-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                LATEST WORK
            </div>

            <div class="content-section-padding">

                <div class="column2-no-padding">
                    <portfolio-tile fade-in-color="rgba(43,130,58,.9)" text="Moving Around" background-image="/Content/Images/coffeewine_thumb.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/150519302"></portfolio-tile>
                    <portfolio-tile fade-in-color="rgba(43,130,58,.9)" text="This is hot" background-image="/Content/Images/downbytheocean.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/107768954"></portfolio-tile>
                </div>
                <div class="column2-no-padding">
                    <portfolio-tile fade-in-color="rgba(43,130,58,.9)" text="Bringing the heat" background-image="/Content/Images/DunlopTennis.jpg" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/143957655"></portfolio-tile>
                    <portfolio-tile fade-in-color="rgba(43,130,58,.9)" text="Wowza" background-image="/Content/Images/makeUp.png" logo="https://qzevents.files.wordpress.com/2015/05/intel20logo20white.png" video-link="//player.vimeo.com/video/150635087"></portfolio-tile>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                ABOUT
            </div>

            <div class="content-section">
                <div class="column2">
                    Film Forest is a film production and new media company. We create high quality, professional level media in multiple formats. From commercials & marketing ads, to music videos & event coverage, to movies & documentaries, Film Forest carries every project from inception to completion. Able to make any budget work we shoot projects that run the gamut of production sizes. Film Forest shoots can range from small, one-man-band projects, all the way up to large format, fully staffed, multiple camera productions.

                </div>
                <div class="column2">
                    Originally conceived in Miami, Film Forest works and shoots all over the country. Created by a group of close friends and industry professionals, the crew at Film Forest has over ten years of production experience. Our experience in the industry has given us the veteran-level production knowledge that is needed for seeing complex projects into successful completion.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="client-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section">
                CLIENTS
            </div>
            <div class="content-section">
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/audi_logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/bmw_logo.png" />

                    </div>
                </div>
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/tommie_copper_logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/fontainebleau_logo.png" />
                    </div>
                </div>
                <div class="column3">
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/nfl_logo.png" />
                    </div>
                    <div class="client-logo">
                        <img src="/Content/Images/Logos/nike_logo.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="break-section section">
    <div class="body-container">
        <div class="body">
           THIS IS A SITE WHERE VISIONS AND DREAMS COME TRUE. LETS MAKE THIS HAPPEN
        </div>
        <div class="button-container">
            CLICK HERE
        </div>
    </div>
</div>
<div class="contact-section section">
    <div class="body-container">
        <div class="body">
            <div class="title-section-right">
                CONTACT
            </div>
            <div class="content-section-padding-right">
                <div class="contact-content-wrapper">
                    <div class="column2-no-padding">
                        <div class="contact-information-container">
                            <div class="contact-title">
                                Contact Information
                            </div>
                            <div class="contact-content">
                                asdf@gmail.com
                            </div>
                            <div class="contact-content">
                                (456)654-1548
                            </div>
                            <div class="contact-title">
                                Locations
                            </div>
                            <div class="contact-content">
                                Miami, FL
                            </div>
                            <div class="contact-content">
                                Fort Lauderdale, FL
                            </div>
                            <div class="contact-title">
                                Locations
                            </div>
                            <div class="contact-content">
                                Miami, FL
                            </div>
                            <div class="contact-content">
                                Fort Lauderdale, FL
                            </div>
                            <div class="contact-title">
                                Social
                            </div>
                            <div class="contact-social-content">
                                Facebook
                            </div>
                            <div class="contact-social-content">
                                Twitter
                            </div>
                            <div class="contact-social-content">
                                Instagram
                            </div>
                            <div class="contact-social-content">
                                Vimeo
                            </div>

                        </div>
                    </div>
                    <div class="column2-no-padding">
                        <div class="contact-form-container" ng-controller="EmailController as ec">
                            <div class="contact-form-title">
                                CONTACT US
                            </div>
                            <form ng-submit="ec.sendEmail()">
                                <input class="contact-form-input" placeholder="First Name" type="text" ng-model="ec.email.firstName" />
                                <input class="contact-form-input" placeholder="Last Name" type="text" ng-model="ec.email.lastName" />
                                <input class="contact-form-input" placeholder="Phone #" type="text" ng-model="ec.email.phone" />
                                <input class="contact-form-input" placeholder="Email" type="text" ng-model="ec.email.emailAddress"/>
                                <textarea class="contact-form-input contact-form-text-area" placeholder="Message" ng-model="ec.email.message"/>
                                <input class="contact-form-input" ng-model="ec.emailVerification" placeholder="What is 5+3" type="text"/>
                                <button class="contact-form-input" type="submit"> Submit</button>

                            </form>
                           


                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

